@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Samoyed Dog</h1>
    <div class="fave_animal_pic">
        <img src="https://i.ibb.co/2cb5pb4/samoyed-pic.jpg" alt="samoyed-pic" border="0">
        <p>Here is my favorite animal web application built with ASP.NET Core</p>
    </div>
</div>
